# ----------------------------------------------------------------------
# | Routing system                                                     |
# ----------------------------------------------------------------------

  RewriteEngine On
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule ^(.+)$ index.html [QSA,L]

#  Options -Indexes
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods: "GET,POST,OPTIONS,DELETE,PUT"
