.grid-full-width {
	margin-left: -4px;
	margin-right: -4px;
	&.collapsed {
		padding: 0;
		margin: 0;
		& > .cell {
			padding: 0;
			margin: 0;
		}
	}
	& > .cell {
		float: left;
		position: relative;
		box-sizing: border-box;
        padding: 4px;
	}
	
	@media #{$xsmall-and-up} {
        $i: 1;
    	@while $i <= 12 {
    		$perc: unquote(100 / $i + "%");
    		&.gxs#{$i} > .cell {
    			width: $perc;
    		}
    		&.gxs#{$i} > .cell:nth-of-type(1n) {
    			clear: none;
    		}
    		&.gxs#{$i} > .cell:nth-of-type(#{$i}n+1) {
    			clear: both;
    		}
    		$i: $i + 1;
    	}
	}
	@media #{$small-and-up} {
        $i: 1;
    	@while $i <= 12 {
    		$perc: unquote(100 / $i + "%");
    		&.gs#{$i} > .cell {
    			width: $perc;
    		}
    		&.gs#{$i} > .cell:nth-of-type(1n) {
    			clear: none;
    		}
    		&.gs#{$i} > .cell:nth-of-type(#{$i}n+1) {
    			clear: both;
    		}
    		$i: $i + 1;
    	}
	}
	@media #{$medium-and-up} {
		$i: 1;
		@while $i <= 12 {
			$perc: unquote(100 / $i + "%");
			&.gm#{$i} > .cell {
				width: $perc;
			}
			&.gm#{$i} > .cell:nth-of-type(1n) {
				clear: none;
			}
			&.gm#{$i} > .cell:nth-of-type(#{$i}n+1) {
				clear: both;
			}
			$i: $i + 1;
		}
	}
	@media #{$large-and-up} {
		$i: 1;
		@while $i <= 12 {
			$perc: unquote(100 / $i + "%");
			&.gl#{$i} > .cell {
				width: $perc;
			}
			&.gl#{$i} > .cell:nth-of-type(1n) {
				clear: none;
			}
			&.gl#{$i} > .cell:nth-of-type(#{$i}n+1) {
				clear: both;
			}
			$i: $i + 1;
		}
	}
}